.Titulodecarrusel{
    text-shadow: 2px 2px;
}
.tituloarticle1{
    color:black
}
.TituloArticle2{
    color:blanchedalmond;
    text-indent: 200px;
}
.ContenedorRecomendacion{
    background-color: blanchedalmond;

}
.TituloRecomendaciones{
    color:blue;
    text-indent: 30px;
}
.TituloArticuloinicio3{
    color:whitesmoke;
}
